<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.6&appId=256689234397021";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="container" id="confirmar">
<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<h3>Ya tienes la rifa lista para almiau!</h3>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<h4>El link de tu rifa es:</h4>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><br>
	<h4>Tu link para compartir es: <a href="http://localhost:1337/<%- link %>">http://localhost:1337/<%- link %></a> </h4>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><br>
	<h4>Ademas compartela en tus redes sociales para tener mas visibilidad:</h4>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><br>
<div class="fb-share-button" data-href="http://localhost:1337/<%- link %>" data-layout="button_count" data-mobile-iframe="true"></div>	
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><br>
<h4>Te deseamos la mejor de las suertes</h4>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><br>
<h4>Equipo Almiuau!</h4>
</div>
</div>
</div>


