
<div class="container">


  <div class="jumbotron center-block">
    <h2>Shut up and take my rifa</h2>
    
    </div>


    <div class = "row">
      <div class = "col-sm-6 col-md-3">
        <a ui-sref="creacionRifa" class = "thumbnail">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=1&w=300&h=300" class="img-responsive" alt="">
        </a>
      </div>
      <div class = "col-sm-6 col-md-3">
        <a ui-sref="CreacionRifa" class = "thumbnail">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=crea&w=300&h=300" class="img-responsive" alt="">
        </a>
      </div>
      <div class = "col-sm-6 col-md-3">
        <a href = "#" class = "thumbnail">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=crea&w=300&h=300" class="img-responsive" alt="">
        </a>
      </div>
      <div class = "col-sm-6 col-md-3">
        <a href = "#" class = "thumbnail">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=crea&w=300&h=300" class="img-responsive" alt="">
        </a>
      </div>
      <div class = "col-sm-6 col-md-3">
        <a href = "#" class = "thumbnail">
        <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=crea&w=300&h=300" class="img-responsive" alt="">
        </a>
      </div>	  
    </div>
  </div>
</div>