
<div class="container" id="index">


    <div class="jumbotron center-block">
     <h2>Shut up and take my rifa</h2>
    
    </div>


    <div class = "row" id="categorias">
      <div class = "col-xs-2 col-sm-4 col-md-4 col-lg-4 category-element">
        <a ui-sref="creacionRifa" class = "thumbnail">
        <img src="images/CELEBRACIONES1.png" class="img-responsive" alt="">
        </a>
      </div>
      <div class = " col-xs-2 col-sm-4 col-md-4 col-lg-4">
        <a ui-sref="CreacionRifa" class = "thumbnail">
        <img src="images/DESEMPLEO2.png" class="img-responsive" alt="">
        </a>
      </div>
      <div class = "col-xs-2 col-sm-4 col-md-4 col-lg-4">
        <a href = "#" class = "thumbnail">
        <img src="images/EDUCACION2.png" class="img-responsive" alt="">
        </a>
      </div>
      <div class = "col-xs-2 col-sm-4 col-md-4 col-lg-4">
        <a href = "#" class = "thumbnail">
        <img src="images/VIAJES.png" class="img-responsive" alt="">
        </a>
      </div>
      <div class = "col-xs-2 col-sm-4 col-md-4 col-lg-4">
        <a href = "#" class = "thumbnail">
        <img src="images/SALUD2.png" class="img-responsive" alt="">
        </a>
      </div>
      <div class = "col-xs-2 col-sm-4 col-md-4 col-lg-4">
        <a href = "#" class = "thumbnail">
        <img src="images/OTRAS.png" class="img-responsive" alt="">
        </a>
      </div>	  
    </div>
    <div class="row" id="quehacemos">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 quehacemos-item">
        <div class="circle">CREA</div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 quehacemos-item">
        <div class="circle">COMPARTE</div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 quehacemos-item">
        <div class="circle">HAZLO</div>
      </div>
    </div>
    <div class="row" id="quehacemos-texto">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        ¿Necesitas plata para organizar una celebración o algún evento? ¿O quizás para ayudar a algún cercano con problemas de salud? Escoge la categoría y arma tu rifa definiendo sus características. Define el número de tickets que vas a vender, cuánto costará cada número, los premios y más.
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        Comparte tu rifa a tus amigos, y que ellos lo hagan con los suyos para que se alcance el mínimo requerido y ganen los premios. ¡Mientras más mejor!
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        Una vez que llegues al objetivo de tu rifa se hará el sorteo que determinará a él o los ganadores. Pero tú también ganaste, completaste la meta. ¡Haz lo que te habías propuesto!
      </div>
    </div>
  </div>
</div>